@tailwind base;
@tailwind components;
@tailwind utilities;

.container-sk {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container-sk {
      width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-sk {
      width: 960px;
    }
    
  }
  @media (min-width: 1200px) {
    .container-sk {
      width: 1140px;
    }
  }


  @media (min-width: 1400px) {
    .container-sk {
      width: 1320px;
    }
  }
/* -------------------------------------------------------------- */





/* --------ScrollBar ----------- */


/* scrollbar */

body{
  scroll-behavior: smooth !important;
}


body::-webkit-scrollbar-track {
  background-color: #FCF9F1 !important;
 
}

body::-webkit-scrollbar {
  
  width: 10px;
  background-color: #371B5C !important;
}



body::-webkit-scrollbar-thumb {
  background-color:#371B5C !important;

 
}

/* Mui  */
.noring input:focus{
    --tw-ring-shadow: 0 0 #000 !important;
  }


/* hide number input arrow */
input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } 


  /* rotate border */

  .rotate-border {
    width: 100%;
    height: auto;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-border::before{
    content: "";
    background-image: conic-gradient(
        #371B5C 20deg,
        transparent 120deg
    );
    z-index: 0;
    width: 180%;
    height: 150%;
    position: absolute;
    animation: rotate 4s linear infinite;
}
.rotate-border::after{

    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;

  
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* raining effect */
.ReactModal__Overlay{
  background-color: #0000007e !important;
}